<div class="container" style="height: 300px;">
    <div class="row border-bottom" style="height: 80px">
        <div class="col my-4 text-center">
            <h3>Logout Page</h3>
        </div>
    </div>
    <div class="row">
        <a href="/loginView">Logout</a>
    </div>
</div>