<div class="container border" style="width: 400px;">
    <div class="row">
        <div class="col text-center">
            
            <!-- Dashboard-->
            <div class="container" style="height: 300px;">
                <div class="row border-bottom" style="height: 100px">
                    <div class="col my-4 text-center">
                        <h3>Logout Page</h3>
                        <p>Logging out user: <b>{{username}}</b></p>
                    </div>
                </div>
                <div class="row">
                    <a href="/logout">Confirm</a>
                </div>
                <div class="row">
                    <a href="/admin">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>