<div class="container border" style="width: 450px;">
    <div class="row">
        <div class="col text-center">

            <!-- Dashboard-->
            <div class="container" style="height: 350px;">
                <div class="row border-bottom" style="height: 200px">
                    <div class="col my-4 text-center">
                        <h3>Wellcome Page</h3>
                        <p>Logged in with: <b>{{username}}</b></p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-3">
                    <a href="/">Sart Page</a>
                    <a href="/newpostview">New Post</a>
                    </div>
                    <div class="col-9 text-right">
                    <a href="/logout">Logout</a>
                    </div>
                </div>
                <div class="row mt-3 p-3 bg bg-light" style="height: 50px;">
                    <h6 class="text-info" id="infoText">{{newPostMessage}}</h6>
                </div>
            </div>

        </div>
    </div>
</div>