<div class="container border" style="width: 400px;">
    <div class="row">
        <div class="col text-center">

            <!-- Message Page-->
            <div class="container" style="height: 300px;">
                <div class="row border-bottom" style="height: 100px">
                    <div class="col my-4 text-center">
                        <h3>Message Page</h3>
                        <p>Logged in with: <b>{{username}}</b></p>
                    </div>
                </div>
                <div class="row">
                    <a href="/">Start Page</a>
                </div>
                <div class="row p-3" style="height: 50px;">
                    <h6 class="text-info" id="infoText">{{newPostMessage}}</h6>
                </div>
            </div>

        </div>
    </div>
</div>