<div class="container border">
    <div class="row border-bottom" style="height: 80px">
        <div class="col my-4 text-center">
            <h3>Post List Component</h3>
        </div>
    </div>

    {{#each posts}}
        <table class="table table-bordered my-4">
            <thead>
                <tr>
                    <th>
                        <div class="text-left">Author: {{admin}}</div> 
                        <div class="text-right">Datum: {{datum}}</div> 
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center"><h4>{{title}}</h4></td>
                </tr>
                <tr>
                    <td class="text-left">{{text}}</td>
                </tr>
            </tbody>
        </table>
    {{/each}}

</div>

