<div class="container border" style="width: 1000px;">
    <div class="row border-bottom" style="height: 80px">
        <div class="col my-4 text-center">
            <h3>Main Page</h3>
        </div>
    </div>

    <div class="row">
        <input type="button" onclick="location.href='/posts'" value="Posts">
    </div>

    <div class="row">
        <input type="button" onclick="location.href='/loginView'" value="Login">
    </div>

    <div class="row p-3" style="height: 50px;">
        <h6 class="text-info" id="infoText">{{infotext}}</h6>
    </div>

</div>